# Python bytecodes
*.pyc
*.pyo

# backup files
*~

# hidden files
.*
!.gitignore
!.travis.yml

# results files
*.vtu
*.vtk

# binary files
*.dat
*.txt
!requirements.txt

# ipython notebooks
*.ipynb

# gmsh files 
*.msh 
*.geo

# hdf5 files 
*.mat
*.hdf
*.hdf5

# cad files 
*.igs
*.iges
*.IGES
*.STEP
*.stp
*.step

# object files
.o

# qt creator project files
*.pro
*.user

# top level project files
Session.vim
RunSession.sublime-project
RunSession.sublime-workspace
param_run_session.py
profile_imports_manual.py
nr.py

# testfiles not to ignore
!tests/Almond3D/
!tests/Almond3D/*
!tests/Cylinder/
!tests/Cylinder/*
