# Python bytecodes
*.pyc
*.pyo

# backup files
*~

# hidden files
.*
!.gitignore
!.travis.yml
!.coveralls.yml

# results files
*.vtu
*.vtk

# binary files
*.dat
*.txt
!requirements.txt

# ipython notebooks
*.ipynb

# hdf5 files
*.mat
*.hdf
*.hdf5

# mesh files
*.msh
*.geo
*.obj
*.mesh
*.stl

# cad files
*.igs
*.iges
*.IGES
*.STEP
*.stp
*.step

# object files
*.o

# shared libraries
*.so
*.dylib
*.dll
*.a
*.exe

# qt creator project files
*.pro
*.user


# example files not to ignore
!examples/curved_mesh_generation/Hollow_Cylinder.*
!examples/car_crash_analysis/Car2D.msh
